.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  color: white;

  position: absolute; 
  top: 0; 
  left: 0; 
  overflow-x: hidden;
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  background: url("./images/04.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(85%);
}

.video-embed-container {
  margin: 2% auto;
}

.info-container {
  margin-top: 2%;
}

.info-child-container {
  width: 100%;
  text-align: center;
}

.app-name-container {
  margin-top: 1%;
}

.app-name {
  color: orange;
}

.headline-section {
  display: inline-block;  
  margin-top: 1%;
}

/* .headline-title {
  text-transform: uppercase
} */

.request-notify {
  margin-top: 1%;
}

.notify-outer-container {
  display: inline-block;  
}

.email-field {
  max-width: 200px;
  float: left;
}

.btn-submit-container {
  float: left;
  margin-left: 5px;
}

.btn-register,  .btn-register:hover{
  background-color: #2E97A1 !important;
  border-color: #2E97A1 !important;
}
